.tituloContainer{
  background-color: #55565A;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;

}
.titulo{
  display: flex;
  width: 85%;
  margin: 0 auto;
  background-color: transparent;
}
.disableIcon{
  opacity: 0.5;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_grid{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  opacity: 0.2;
  background-image: url(/img/grid.svg);
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
@media (max-width: 700px) {
  .overlay_grid{
    opacity: 0;
  }
}
.overlay img{
  width: 80px;
  height: 80px;
  z-index: 2;
}

.titulo_in{
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  height: 61px;
}
.big{
  height: 71px;
}
.titulo_in h1{
  font-size: 25px;
  line-height: 25px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 400;
  background-color: transparent;
  margin-bottom: 4px;
}
.titulo_in h2{
  font-size: 14px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}


.titulo_bottom{
  width: 100%;
  height:4px;
  background-color: #55565A;
}
.titulo_bottom_yellow{
  width: 50%;
  height: 5px;
  background-color: #FDBA30;
}


.visor{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: transparent;
  position: relative;
}
.triangulo{
  margin-top: 0px;
  width: 70px;
  background-color: transparent;
  background-image: url(../public/iconos/ico_triangulo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 0px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:2px;
}
.triangulo_alt{
  top:17px;
}
/*
.triangulo div{
  width: 70px;
  height: 60px;
  margin-top: 0px;
  background-color: orange;

  background-position: bottom;
}*/
.iL{
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-left: 15px;
}
.icono{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #FDBA30;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icono:hover{
  background-color: #FDBA30;
}
.icono div{
  background-color: transparent;
  /*background-color: transparent;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
}
.iconoLeft{
  margin-left: 15px;
}
.iconoRight{
  margin-right: 15px;
}
.iconoLeft div{
  background-image:url(../public/iconos/icon_left.svg);
  margin-right:3px;
}
.iconoRight div{
  background-image: url(../public/iconos/icon_right.svg);
  width: 25px;
  height: 25px;
  margin-left:2px;
}


.iconoVerFoto{
  background-color: black;
  border-color: black;
}
.iconoVerFoto div{
  background-image: url(../public/iconos/icon_informacion.svg);
}
.iconoVerFoto.icono:hover{
  background-color: white;
  border-color: white;
}
.iconoVerVideo div{
  background-image: url(../public/iconos/icon_vervideo.svg);
}
.iconoVerVideo{
  background-color: black;
  border-color: black;
}
.iconoVerVideo.icono:hover{
  background-color: white;
  border-color: white;
}
.iconoPlay div{
  background-image: url(../public/iconos/icon_play.svg);
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.iconoStop div{
  background-image: url(../public/iconos/icon_stop.svg);
  width: 20px;
  height: 25px;
  margin-left: 0px;
}
.iconoVerInformacion div{
  background-image: url(../public/iconos/ico_carreras.svg);
}
.iconoVerInformacion{
  background-color: black;
  border-color: black;
}
.iconoVerInformacion:hover{
  background-color: white;
  border-color: white;
}
.iconoVerInformacion:hover div{
  background-image: url(../public/iconos/ico_carreras_black.svg);
}
.iconoVerVideo:hover div{
  background-image: url(../public/iconos/icon_vervideo_black.svg);
}

.iconoVerFoto:hover div{
  background-image: url(../public/iconos/icon_informacion_black.svg);
}
.iconoVerCampus div{
  background-image: url(../public/iconos/icon_vercampus.svg);
}
.iconoVerUbicacion div{
  background-image: url(../public/iconos/icon_ubicacion.svg);
  width: 25px;
  height: 25px;
}

.controles_video{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  background-color: transparent;
}

.controles{
  width: 300px;
  height: 90px;
  background-color: transparent;
}
.mainControl{
  width: auto;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: transparent;
  background-image: url(../public/fondos/ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainControl .icono{
    margin-left: 0px;
}
.mainControl .icono:first-child{
  margin-left: 0px;
}

.controles_medio{
  flex: 1;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}
.controles_atras_adelante{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
}

.layer1{
  background-color: black;
  flex: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:65px;
}


.layer2{
  background: none !important;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:65px;
  pointer-events: none;
}
.layer3{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:65px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.layer_alt{
  top:75px;
}
@media (max-width: 600px) {
  .triangulo{
    display: none;
  }
  .titulo{
    width: 100%;
  }
  .layer3{
    top:0px;
  }
}









.button {
  display: inline-block;
  border: 3px solid #000;
  cursor: pointer;
  padding: 0.5rem 2rem;
}
/* Desde Aqui */
.contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "izquierda contenido derecha" "izquierda accesos derecha" "reproduccion reproduccion reproduccion";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto auto;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  grid-gap: 1rem;
  position: relative;
}
.contenido {
  width: 100%;
  height: 100%;
  grid-area: contenido;
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 0;
}
.izquierda {
  grid-area: izquierda;
  z-index: 1;
}
.derecha {
  grid-area: derecha;
  z-index: 1;
}
.accesos {
  grid-area: accesos;
  z-index: 1;
}
.reproduccion {
  grid-area: reproduccion;
  z-index: 1;
}
/* Hasta Aqui */
.panorama {
  width: 100%;
  height: 100%;
}







/*
.tooltip {
  position: relative;
}
.tooltip__item {
  position: absolute;
  min-width: 100px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  background: white;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  color: #484848;
  border: 1px solid #cecece;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0 2px 1px #bcbcbc;
  z-index: 4;
}
.tooltip__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.tooltip__initiator {
  cursor: pointer;
  z-index: 5;
}
.tooltip[data-direction="left"] .tooltip__initiator:hover ~ .tooltip__item {
  transform: translate3d(0, -50%, 0);
  visibility: visible;
  opacity: 1;
}
.tooltip[data-direction="left"] .tooltip__item {
  top: 50%;
  right: calc(100% + 1em);
  transform: translate3d(15px, -50%, 0);
}
.tooltip[data-direction="left"] .tooltip__item:after {
  top: 50%;
  right: -0.5em;
  transform: translate3d(0, -50%, 0);
  border-width: 0.5em 0 0.5em 0.5em;
  border-color: transparent transparent transparent white;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px 2px 1px #bcbcbc);
}
.tooltip[data-direction="bottom"] .tooltip__initiator:hover ~ .tooltip__item {
  transform: translate3d(-50%, 0, 0);
  visibility: visible;
  opacity: 1;
}
.tooltip[data-direction="bottom"] .tooltip__item {
  top: calc(100% + 1em);
  left: 50%;
  transform: translate3d(-50%, -15px, 0);
}
.tooltip[data-direction="bottom"] .tooltip__item:after {
  top: -0.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent white transparent;
  -webkit-filter: drop-shadow(1px 2px 1px #bcbcbc);
  filter: drop-shadow(1px -1px 1px #bcbcbc);
}
*/


.tooltip {
    position: relative;
    display: inline-block;

}
.tooltip .tiptext {
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    left: 40%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip:hover .tiptext {
    visibility: visible;
}




.tooltip_left {
    position: relative;
    display: inline-block;
    background-color: transparent;
}
.tooltip_left .tiptext {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    left: 100%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip_left:hover .tiptext {
    visibility: visible;
}





.tooltip_right {
    position: relative;
    display: inline-block;
    background-color: transparent;
}
.tooltip_right .tiptext {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    right: 40%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip_right:hover .tiptext {
    visibility: visible;
}


@media (max-width: 600px) {
  .tooltip .tiptext {
    display: none;
  }
  .tooltip_left .tiptext {
    display: none;
  }
  .tooltip_right .tiptext {
    display: none;
  }
}
