.container {
  max-width: 750px;
  min-height: 180px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: #333;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top:-45px;
}
.tituloPop{
  color:white;
  position: absolute;
  text-transform: uppercase;
  left: 40px;
  top:15px;
  font-weight: 600;
}

.item{
    background-color: black;
}
.facultad{
  color: #55565A;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.container_mapa {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin: 0;
  background-color: black;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 10px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}
.titleCarreras{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.header{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  background-color: transparent;
  padding-top:10px;
  margin-bottom: 0px;
  padding-right: 10px;
}
.iconClose{
  background-image:url(../public/iconos/icon_close.svg);
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.iconClose:hover{
  background-image:url(../public/iconos/icon_close_white.svg);
}
.contentText{
  background-color: transparent;
  color: white;
  text-align: justify;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.contentText img{
  max-height: 340px;
  width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

@media (max-height: 800px) {
  .contentText img{
    max-height: 270px;
  }
  .container {
    max-width: 550px;
  }
}


.contentPop{
    display: flex;
    background-color: transparent;
    width: 100%;
}
.contentPop h4{
  color: white;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.contentPop ul{
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  list-style-type: none;
  margin-right: 20px;
}
.textoPop{
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
}

.icoPlay{
  background-image: url(../public/iconos/icon_play_white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0px;
}
.btnTourAutomatico{
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  background-color: black;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;

}
.contentPopLeft{
  background-color: transparent;
  flex: 1;
}
.contentPopRight{
    background-color: transparent;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contentAmbientes{
  padding-left: 50px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex: 1;
}
.listadoAmbientes{
  background-color: transparent;
  width: 100%;
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.listadoAmbientes ul{
  margin-top: 0px;
}

.listadoAmbientes::-webkit-scrollbar {
    width: 8px;
}
.listadoAmbientes::-webkit-scrollbar-track {
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #55565A;
    border-radius: 8px;
}
.listadoAmbientes::-webkit-scrollbar-thumb {
    background: #97989B;
    border-radius: 8px;
}
.listadoAmbientes::-webkit-scrollbar-thumb:hover{
    background: #97989B;
}



.listadoAmbientes{
  /*#97989B*/
  scrollbar-color: #55565A #333; /* thumb and track color */
  scrollbar-width: thin;
}

.contentPop ul li{
  color: white;
  width: 100%;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 14px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  border-color: transparent;
    padding-left: 20px;
}
.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
.contentPop ul li.icoLeftSelected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
  background-color: transparent;
}
.contentPop ul li.icoCurrentSelected{
  border-radius: 10px;

  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
}
/*
.contentPop ul li:hover{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
*/
li.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
.contentPop ul li.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}


.map{
  margin: 0 auto;
  display: block;
  background-color: transparent;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .textoPop{
    margin-top: 6px;
    font-size: 10px;
  }
  .contentAmbientes{
    padding-left: 10px;
  }
  .contentPopLeft{
    display: none;
  }
  .icoLeft{
    display: inline;
  }
  .container_mapa {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:65px;
    margin: 0px;
    border-radius: 0px;
  }

  .contentAmbientes{
    margin-left: 0px;
    width: auto;
  }
  .contentPop ul li{
    width: 100%;
  }
}
.container_mapa_alt{
  /*top:75px;*/
}



@media (max-height: 700px) {
  .listadoAmbientes{
    height: 300px;
    background-color: transparent;
  }
}



.tooltip {
    position: relative;
    display: inline-block;

}
.tooltip .tiptext {
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    left: 40%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip:hover .tiptext {
    visibility: visible;
}




.tooltip_left {
    position: relative;
    display: inline-block;
    background-color: transparent;
}
.tooltip_left .tiptext {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    left: 100%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip_left:hover .tiptext {
    visibility: visible;
}





.tooltip_right {
    position: relative;
    display: inline-block;
    background-color: transparent;
}
.tooltip_right .tiptext {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 2px 15px;
    position: absolute;
    z-index: 1;
    margin-left: -40px;
    bottom: 110%;
    right: 40%;
    border-radius: 10px;
    background-color: #55565A;
}
.tooltip_right:hover .tiptext {
    visibility: visible;
}


@media (max-width: 600px) {
  .tooltip .tiptext {
    display: none;
  }
  .tooltip_left .tiptext {
    display: none;
  }
  .tooltip_right .tiptext {
    display: none;
  }
  .iconClose{
    width: 25px;
    height: 25px;
  }
}
