@font-face {
	font-family: TelegrafRegular;
	src: url(/fonts/Telegraf-Regular.eot);
	src: url(/fonts/Telegraf-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/Telegraf-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: TelegrafUltraBold;
	src: url(/fonts/Telegraf-UltraBold.eot);
	src: url(/fonts/Telegraf-UltraBold.eot?#iefix) format("embedded-opentype"), url(/fonts/Telegraf-UltraBold.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SharpGroteskBook;
	src: url(/fonts/SharpGrotesk-Book15.eot);
	src: url(/fonts/SharpGrotesk-Book15.eot?#iefix) format("embedded-opentype"), url(/fonts/SharpGrotesk-Book15.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SharpGroteskSemiBold;
	src: url(/fonts/SharpGrotesk-SemiBold15.eot);
	src: url(/fonts/SharpGrotesk-SemiBold15.eot?#iefix) format("embedded-opentype"), url(/fonts/SharpGrotesk-SemiBold15.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SharpGroteskBold;
	src: url(/fonts/SharpGrotesk-Bold15.eot);
	src: url(/fonts/SharpGrotesk-Bold15.eot?#iefix) format("embedded-opentype"), url(/fonts/SharpGrotesk-Bold15.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: TelegrafRegular;
	line-height: 1.6;
	font-size: 18px;
	background-color: #000;
}
.svg-cursor {
	cursor: pointer;
}
.svg-top {
	z-index: 100;
}
* {
	box-sizing: border-box;
	font-family: TelegrafRegular
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.disabled-link {
	pointer-events: none;
}
img {
	max-width: 100%;
	display: block;
}
h1 {
	color: red;
}
.ico_menu {
	width: 40px;
	height: 40px;
	background-color: #FDBA30;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	top: 20px;
}
.ico_menu img {
	width: 22px;
}

#pagina {
	display: grid;
	grid-template-areas: "header""main""footer";
	grid-template-rows: auto 1fr auto;
	grid-gap: 0px;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background-color: black;
}
#header {
	grid: area;
	background-color: #FDBA30;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}
#header .header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	margin: 0 auto;
}

#main {
	grid: main;
	background-color: red;
}
#footer {
	grid: footer;
	background-color: #000;
	color: #97989B;
	font-size: 14px;
	text-align: center;
	height: 55px;
	padding-top: 5px;
}

.logo {
	width: 128px;
	height: 80px;
	background-image: url(/img/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#main {
	background-color: transparent;
	align-items: center;
	display: flex;
	background-image: url(/img/bg1.jpg);
	background-size: cover;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.menu {
	display: none;
}

.mobile_list_menu {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 10px;
	z-index: 200;
}
.mobile_list_menu>ul>li {
	list-style-type: none;
	padding-bottom: 5px;
}
.mobile_list_menu>ul>li a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}
.list_campus {
	list-style-type: none;
	background-color: transparent;
	margin-right: 30px;
	padding-left: 0px;
	font-size: 15px;
}
.list_campus li {
	padding: 4px;
	padding-left: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}
.list_campus li:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #FDBA30;
	border-radius: 10px;
}
.list_campus li a {
	color: white;
	text-decoration: none;
}
.mobile_list_menu ul li {
	color: white;
	margin-bottom: 5px;
}

.top_btn_content {
	display: flex;
}
.top_btn:first-child {
	margin-right: 10px;
}
.top_btn {
	margin: 10px;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 5px;
	border-radius: 8px;
	font-size: 14px;
	width: 190px;
	text-align: center;
	display: block;
	font-family: 'Poppins',
	sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.top_btn:hover {
	background-color: #FFF;
	color: #55565A;
	text-decoration: none;
}
@media (max-width: 650px) {
	.top_btn {
		font-size: 13px;
		width: 180px;
	}
}

@media (max-width:600px) {
	#main {
		background-position: 100% 0
	}

	#header .header_container {
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		-webkit-align-items: flex-start;
		-moz-box-align: start;
		align-items: flex-start;
		width: 100%
	}

	.menu {
		background-image: url(/iconos/menu.svg)
	}

	#main {
		background-position: top right;
	}
#header .header_container {
	flex-direction: column;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		align-items: flex-start;
		width: 100%;
		}
.menu {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: transparent;
	right: 15px;
	top: 20px;
	z-index: 100;
	display: block;
	background-image: url(/iconos/menu.svg);
	background-position: center center;
	background-repeat: no-repeat;
}
.menu_close {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: transparent;
	right: 15px;
	top: 20px;
	z-index: 100;
	display: block;
	background-image: url(/iconos/ico_close.svg);
	background-position: center center;
	background-repeat: no-repeat;
}
.menu.activa {}

	.top_btn {
		margin-top: 5px;
		margin-bottom: 2px;
		width: 100%;
	}
.top_btn:first-child {
	margin-right: 0px;
}
.logo {
	margin-left: 10px;
}
.top_btn_content {
	width: 100%;
	text-align: center;
	justify-content: space-between;
	padding-left: 9px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 7px;
	align-items: center;
}




	#main {
		align-items: flex-start;
	}
#footer {
	padding-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
}


@media (max-height: 700px) {
	#footer {
		display: none;
	}
}


.tooltip {
	position: relative;
	display: inline-block;
	background-color: transparent;
}
.tooltip .tiptext {
	font-family: 'Poppins',
	sans-serif;
	font-size: 14px;
	visibility: hidden;
	width: 120px;
	background-color: white;
	color: #000;
	text-align: center;
	padding: 2px 15px;
	position: absolute;
	z-index: 1;
	margin-left: -50px;
	bottom: 110%;
	left: 40%;
}
.tooltip:hover .tiptext {
	visibility: visible;
}




.tooltip_left {
	position: relative;
	display: inline-block;
	background-color: transparent;
}
.tooltip_left .tiptext {
	font-size: 14px;
	visibility: hidden;
	width: 100px;
	background-color: #fdba30;
	color: #000;
	text-align: center;
	padding: 2px 15px;
	position: absolute;
	z-index: 1;
	margin-left: -50px;
	bottom: 110%;
	left: 100%;
}
.tooltip_left:hover .tiptext {
	visibility: visible;
}





.tooltip_right {
	position: relative;
	display: inline-block;
	background-color: transparent;
}
.tooltip_right .tiptext {
	font-size: 14px;
	visibility: hidden;
	width: 100px;
	background-color: #fdba30;
	color: #000;
	text-align: center;
	padding: 2px 15px;
	position: absolute;
	z-index: 1;
	margin-left: -50px;
	bottom: 110%;
	right: 40%;
}
.tooltip_right:hover .tiptext {
	visibility: visible;
}

@media (max-width: 600px) {
	.tooltip .tiptext {
		display: none;
	}

	.tooltip_left .tiptext {
		display: none;
	}

	.tooltip_right .tiptext {
		display: none;
	}
}
